// Fixed Sidebar

.msedge-fixed-sidebar {
  .msedge-sidebar {
    position: fixed;
    bottom: 0;
    top: 0;
  }

  .msedge-main {
    .msedge-main-outer {
      z-index: 9;
      padding-left: $app-sidebar-width;
      // padding-left:0;
    }
  }

  &:not(.msedge-fixed-header) {
    .msedge-sidebar {
      .msedge-header-logo {
        display: flex;
      }
    }

    .app-header {
      margin-left: $app-sidebar-width;

      .msedge-header-logo {
        display: none;
      }
    }

    .msedge-main {
      //z-index: 12;
    }
  }

  &.closed-sidebar {
    &:not(.msedge-fixed-header) {
      .app-header {
        margin-left: $app-sidebar-width-collapsed;
      }

      .msedge-sidebar {
        .msedge-header-logo {
          width: $app-sidebar-width-collapsed;
          padding: 0;

          .msedge-logo {
            display: none;
          }

          .header__pane {
            margin-right: auto;
          }
        }
      }
    }
  }
}
