.login{
    .left-section{
        text-align: center;
        color: #fff;
        background-image: url("https://assets.atlasobscura.com/article_images/57028/image.jpg");
        background-size: cover;
        padding: 0;
        div.no-padding{
            background-color: #417eadba;
            height: 100vh;
        }
        .block-wrapper{
            h4{
                padding: 25% 0 5% 0;
                font-size: 24px;
            }
            div{
                padding: 6% 20%;

                h3{
                    font-size: 22px;
                    font-weight: 200;
                }
            }
        }
        .slick-prev, .slick-next {
            transform: translateY(0%);
            top: 68%;
            background: transparent;
            color: #fff;
            z-index: 100;
            box-shadow: unset;
        }
        .slick-prev::before, .slick-next::before{
            font-weight: 700;
        }
    }
    .right-section{
        .img-wrapper{
            text-align: right;
        }
        .input-field-wrapper{
            display: flex;
            padding: 15px 0 0 0;
        }
        input[type="checkbox"], input[type="radio"]{
            margin-right: 10px;
            position: relative;
            top: 2.5px;
        }
        .msg{
            border-bottom: 1px solid #ccc;
            padding: 15px 15px 10px 15px;
        }
        .btn-wrapper{
            padding-top: 30px;
            display: flex;
            // .login-btn{
            //     text-align: right;
            // }
            // button{
            //     width: 140px;
            //     margin-left: 25px;
            //     margin-bottom: 10px;
            // }
            button{
                width: 100%;
            }
        }
        input[type=checkbox] {
            visibility: visible;
        }
        .no-account{
            font-size: 16px;
        }
        .logged-in{
            border-bottom: 1px solid #eee;
            padding-bottom: 10px;
            margin-bottom: 10px;
        }
        .welcome-segment{
            border-bottom: 1px solid #eee;
            padding-bottom: 10px;
        }
        .welcome-text{
            letter-spacing: 2px;
            font-size: 30px;
            font-weight: 200;
        }
        .signin-text{
            font-size: 18px;
            font-weight: 200;
        }
        .login-btn{
            width: 70% !important;
            padding: 4%;
        }
        .recover-link-text{
            font-size: 12px;
        }
        .invalid-email{
            border-radius: 4px;
            width: 100%;
            padding: 6px 10px;
            color: black;
            margin: 10px 0 0 0;
            font-size: 14px;
            border: 1px solid #ff000078;
        }
    }
}