.law-school-dashboard{
    background: #eee;
    .statics-wrapper{
        padding-top: 0;
        .count-field{
            padding-bottom: 0px;
            display: unset;
            .first-sec{
                margin-top: 0.5%;
            }
            .second-sec{
               
                .form-group{
                    display: flex;
                    float: right;
                    margin-top: 25px;
                    margin-bottom: 25px;
                    margin-right: 10%;
                    .form-control{
                        width: 150px;
                        color: #0e6aae;
                    }
                    .form-control:focus{
                        border-color: #ced4da;
                        box-shadow: unset;
                    }
                    label{
                        margin-right: 10px;
                        font-size: 16px;
                        color: #000;
                        padding-top: 7px;
                    }
                }
            }
        }
    }
    .performance-pie-chart{
        .pie-chart{
            display: flex;
            margin-bottom: 30px;
            height: 365px;
            .subject-sec{
                padding-top: 35px;
                padding-left: 15px;
                .sub-wise-perfor{
                    .num{
                        font-weight: 500;
                    }
                }
            }
            .inner-piechart-content{
                top: 48%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);
            }
            .rightArrow{
                right: 33px;
            }
        }
    }
    .performance-over-time{
        margin-bottom: 30px;
        .head-section{
            .heading-wrapper{
                padding: 0 15px 0 0;
            }
        }
        .recharts-default-legend{
            text-align: center !important;
        }
        .legend-wrapper{
            position: absolute;
            display: flex;
            left: 50%;
            transform: translateX(-50%);
            .first-item::before, .second-item::before, .third-item::before, .fourth-item::before,
            .fiveth-item::before, .sixth-item::before, .seventh-item::before,.eighth-item::before{
                content: "aaa";
                font-size: 7px;
                margin-right: 10px;
                margin-left: 10px;
                position: relative;
                top: -2.3px;
            }
            .second-item::before{
                background-color: #0e6aae;
                color: #0e6aae;
            }
            .first-item::before{
                background-color: #0be365;
                color: #0be365;
            }
        }
        .subject-over-time{
            box-shadow: none;
            .legend-wrapper{
                display: block;
                left: 0;
                transform: translateX(50px);
                font-size: 12px;
                padding-right: 60px;
                .second-row, .first-row{
                    display: flex;
                }
                .first-item::before, .second-item::before, .third-item::before, .fourth-item::before,
                .fiveth-item::before, .sixth-item::before, .seventh-item::before,.eighth-item::before{
                    border-radius: 50%;
                }
                .first-item::before{
                    background-color: #0be365;
                    color: #0be365;
                } 
                .second-item::before{
                    background-color: #0e6aae;
                    color: #0e6aae;
                } 
                .third-item::before{
                    background-color: #ff3399;
                    color: #ff3399;
                } 
                .fourth-item::before{
                    background-color: #82ca9d;
                    color: #82ca9d;
                }
                .fiveth-item::before{
                    background-color: #003300;
                    color: #003300;
                } 
                .sixth-item::before{
                    background-color: #ff6666;
                    color: #ff6666;
                } 
                .seventh-item::before{
                    background-color: #800000;
                    color: #800000;
                }
                .eighth-item::before{
                    background-color: #0099cc;
                    color: #0099cc;
                }
            }
            .legend-msg{
                position: absolute;
                right: 0;
                text-align: right;
                top: 10px;
                font-size: 12px;
                color: #0e6aae;
                padding: 0;
            }
        }
    }
    .exam-details{
        padding: 0;
        .block{
            .wrapper{
                height: 167px;
            }
        }
        .block:nth-child(1){
            margin-bottom: 31px;
        }
    }
}
@media only screen and (max-width: 1199px) and (min-width: 992px){
    .law-school-dashboard{
        .performance-pie-chart{
            .pie-chart{
                .subject-sec{
                }
                .inner-piechart-content{
                    transform: translateX(-60%) translateY(-50%);
                }
            }
        }
        .exam-details{
            .block{
                .wrapper{
                    padding: 9px 0;
                    height: 138px;
                }
            }
            .block:nth-child(1){
                margin-bottom: 25px;
            }
        }
        .performance-pie-chart{
            .pie-chart{
                height: 301px;
                .subject-sec{
                    padding-top: 27px;
                    .sub-wise-perfor{
                        padding: 6px 8px 0 8px;
                        font-size: 13px;
                    }
                }
                .inner-piechart-content{
                    transform: translateX(-60%) translateY(-27%);
                }
            }
        }
        .performance-over-time{
            .subject-over-time{
                .legend-wrapper{
                    font-size: 10px;
                }
            }
        }  
    }
}
@media only screen and (max-width: 991px) and (min-width: 768px){
    .law-school-dashboard{
        .performance-pie-chart{
            .pie-chart{
                .subject-sec{
                }
                .inner-piechart-content{
                    transform: translateX(-60%) translateY(-50%);
                }
            }
        }
        .exam-details{
            .block{
                .wrapper{
                    height: 140px;
                }
            }
            .block:nth-child(1){
                margin-bottom: 19px;
            }
        }
        .performance-pie-chart{
            .pie-chart{
                height: 300px;
                .subject-sec{
                    padding-top: 20px;
                    .sub-wise-perfor{
                        padding: 6px 8px 0 8px;
                        font-size: 12px;
                    }
                }
                .inner-piechart-content{
                    transform: translateX(-66%) translateY(-25%);
                }
            }
        }
        .performance-over-time{
            .subject-over-time{
                .legend-wrapper{
                    font-size: 11px;
                    padding-right: 0;
                    .first-row, .second-row{
                        div::before{
                            margin: 0 4px;
                        }
                    }
                }
            } 
        } 
    }
}
@media only screen and (max-width: 767px) and (min-width: 320px){
    .law-school-dashboard{
        .statics-wrapper{
            .count-field{
                display: flex;
                flex-direction: column;
                .second-sec{
                    .form-group{
                        position: unset;
                        right: unset;
                        padding-left: 15px;
                        margin-left: 50%;
                        transform: translateX(-50%);
                        width: 175px;
                    }
                }
            }
        }
        .performance-pie-chart{
            .pie-chart{
                flex-direction: column;
                padding: 0;
                height: unset;
                .subject-sec{
                    padding: 0;
                }
                .pie-chrt-head{
                    padding: 20px;
                }
            } 
        }
        .performance-over-time{
            .subject-over-time{
                .legend-wrapper{
                    display: flex;
                    .first-row, .second-row{
                        flex-direction: column;
                    }
                }
                .legend-msg{
                    display: none;
                }
            }
            .recharts-legend-wrapper{
                padding-left: 0 !important;
            }
        }
    }
}

// Sep12 Styles
.overview-text{
    color: #0e6aae;
    letter-spacing: 1px;
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 0.2em;
}
.overview-subtext{
    font-weight: 300;
    font-size: 14px;
    color: #000;
    letter-spacing: 1px;
    text-transform: capitalize;
}

.breadcrumb{
    background-color: unset;
    padding: 0.75rem 0;
}
.Breadcrumb-section nav{
    float: right;
}

// Top header
.app-header__content .app-header-right{
    justify-content: flex-end;
    padding-right: 0px;
}

.top-section{
    padding-bottom: 5%;
}

.app-header__content .app-header-left{
    padding-top: 2%;
}
// Top header