.msedge-law-school-dashboard {
  background: #eee;
  .msedge-statics-wrapper {
    padding-top: 0;

    .msedge-card-layout{

    }
  }
  .msedge-performance-over-time {
    // margin-bottom: 30px;
    .msedge-legend-wrapper {
      position: absolute;
      display: flex;
      left: 50%;
      transform: translateX(-50%);
      .msedge-first-item::before,
      .msedge-second-item::before {
        content: "aaa";
        font-size: 0.4375rem;
        margin-right: 10px;
        margin-left: 10px;
        position: relative;
        top: -2.3px;
      }
      .msedge-second-item::before {
        background-color: #006ebd;
        color: #006ebd;
      }
      .msedge-first-item::before {
        background-color: #0be365;
        color: #0be365;
      }
      span {
        font-size: 0.8525rem;
      }
    }
  }

  .msedge-precreated-card-header {
    h2 {
      color: #006ebd;
      font-weight: 600;
      font-size: 1.25rem;
    }
  }

  .msedge-lawschool-overview-time-period{
    white-space: nowrap;
  }
}
@media only screen and (max-width: 1199px) and (min-width: 992px) {
  .msedge-law-school-dashboard {
    .msedge-performance-over-time {
      .msedge-subject-over-time {
        .msedge-legend-wrapper {
          font-size: 0.625rem;
        }
      }
    }
  }
}
@media only screen and (max-width: 991px) and (min-width: 768px) {
  .msedge-law-school-dashboard {
    .msedge-performance-over-time {
      .msedge-subject-over-time {
        .msedge-legend-wrapper {
          font-size: 0.6875rem;
          padding-right: 0;
          .first-row,
          .second-row {
            div::before {
              margin: 0 4px;
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 767px) and (min-width: 320px) {
  .msedge-law-school-dashboard {
    .msedge-statics-wrapper {
      .count-field {
        display: flex;
        flex-direction: column;
        .msedge-second-sec {
          .form-group {
            position: unset;
            right: unset;
            padding-left: 15px;
            margin-left: 50%;
            transform: translateX(-50%);
            width: 175px;
          }
        }
      }
    }
    .msedge-performance-over-time {
      .msedge-subject-over-time {
        .msedge-legend-wrapper {
          display: flex;
          .first-row,
          .second-row {
            flex-direction: column;
          }
        }
        .legend-msg {
          display: none;
        }
      }
      .recharts-legend-wrapper {
        padding-left: 0 !important;
      }
    }
    .msedge-school-statistics {
      padding-top: 25px;
    }
  }
  .msedge-inner-piechart-content {
    top: 50% !important;
  }
}
// Sep12 Styles
.msedge-overview-text {
  color: #006ebd;
  letter-spacing: 1px;
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0;
  text-transform: uppercase;
}
.overview-subtext {
  font-size: 1rem !important;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.85) !important;
}
.breadcrumb {
  background-color: unset;
  padding: 0.75rem 0;
}
.Breadcrumb-section nav {
  float: right;
}
.msedge-header-content .msedge-header-right {
  justify-content: flex-end;
  padding-right: 0px;
}
// .msedge-header-content .msedge-header-left {
//   padding-top: 1%;
// }
// Top header
.btn-primary {
  color: #006ebd;
  border-color: #006ebd;
  background-color: unset;
}
.btn-primary:hover {
  color: #fff;
  border-color: #006ebd;
  background-color: #006ebd;
}
.msedge-toggle-btn {
  .monthly {
    font-size: 0.854rem !important;
    color: #fff;
    border: 1px solid #006ebd;
    padding: 0 26px;
    height: 36px;
    margin: 0;
    margin-top: 3px;
    background-color: #006ebd;
  }
  .weekly {
    font-size: 0.854rem !important;
    background-color: #fff;
    color: #999;
    border: 1px solid #999;
    padding: 0 26px;
    height: 36px;
    margin: 0;
    margin-top: 3px;
  }
}

@media (max-width: 1440px) {
  .subject-over-time-btn h5 {
    margin-left: 2.5rem !important;
  }
  .performanc-datepicker {
    margin-right: 5% !important;
    margin-left: 0% !important;
  }
}

@media (max-width: 2560px) {
  .performanc-datepicker {
    margin-left: 16%;
  }
}
.performance-chart-lawschool-segment .apexcharts-datalabels-group {
  display: none !important;
}
.performance-chart-lawschool-segment .msedge-radial-bar-main {
  position: relative;
}
.performance-chart-lawschool-segment
  .msedge-radial-bar-main
  .msedge-radial-bar-value {
  position: absolute;
  top: 39%;
  left: 48%;
  color: green;
  font-size: 1.125rem;
  font-weight: 600;
}
.react-datepicker-ignore-onclickoutside {
  font-size: 0.875rem !important;
}
.msedge-qa {
  position: absolute;
  top: 35%;
  right: -11rem !important;
  font-size: 1rem !important;
  transform: rotate(90deg);
  transform-origin: left top 0;
}
.msedge-percent-mark {
  position: absolute;
  top: 50%;
  left: 20px;
  font-size: 1.0625rem !important;
}
.text-secondary {
  margin-right: 10px;
  font-size: 1.125rem !important;
  color: #000000ad !important;
  padding-top: 10px;
}

.msedge-lawschool-chart {
  border-right: 1px solid #dee2e6 !important;
}
.msedge-lawschool-overview-precreatedexam-chart-bar-value {
  .msedge-lawschool-overview-precreatedexam-chart-bar-value-percentage {
    position: absolute;
    left: 50% !important;
    margin-left: -12px;
    top: 50% !important;
    margin-top: -25px;
    color: green;
    font-size: 1.125rem;
    font-weight: 600;
  }

  .msedge-lawschool-overview-precreatedexam-chart-bar-value-average-score {
    position: absolute;
    left: 50% !important;
    margin-left: -30px !important;
    top: 50% !important;
    margin-top: -6px !important;
    font-weight: 500;
    text-align: center;
    font-size: 1rem !important;
    color: rgba(0, 0, 0, 0.85) !important;
  }
}
.monthly-progress-student{
     .precreated-information{
            font-size: 1rem;
            font-weight: 500;
        }
                    .msedge-info-icon-precreate{
                  bottom: 1.875rem;
    left: 1.5625rem;
    color: #70a7cf;
            }
      }

.msedge-subjcts {
  margin: 0px;
  padding: 8px 7px;
  background-color: rgb(246, 246, 246);
  color: rgb(0, 112, 192);
  text-transform: uppercase;
  text-align: center;
  font-size: 1rem;
}

.msedge-lawschool-precreatedexam-segment {
  .msedge-radial-bar-value {
    color: green;
    font-size: 18px;
    font-weight: 600;
    height: 100px;
    width: 100px;
    position: absolute;
    left: 50% !important;
    margin-left: -45px;
    top: 52% !important;
    margin-top: -20px;
  }
}

.msedge-lawschool-overview-no-data-found-segment{
  padding: 42px 0;
   font-size: 1rem;
    font-weight: 500;
}
.msedge-no-of-questions-answered {
  font-size: 1rem !important;
  color: rgba(0, 0, 0, 0.85) !important;
  font-weight: 500 !important;
}
.msedge-overview-content-header{
  font-size: 18px;
  font-weight: 600;
}
.lawschool-statistics-card-one{
  padding: 25px 25px 25px 25px !important;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  min-height: 165px;
}
