//----muthuraja-----
.item-bank-list {
  .ReactTable .rt-thead.-filters {
    display: none;
  }
  .msedge-student-list-active {
    background-color: #006ebd;
    color: white;
  }
  .border {
    max-width: unset;
    flex: 1;
  }
  .msedge-student-list-active h1 {
    font-weight: 500;
    font-size: 42px;
    margin-bottom: 6%;
    color: #ffffff;
  }
  .msedge-student-list-active h6 {
    font-weight: 500;
    color: #ffffff;
  }
  .search {
    position: relative;
    bottom: 31px;
    left: -3px;
    float: right;
    font-weight: 600;
    background-color: #ffffff;
  }
  .msedge-student-list-active {
    .col {
      padding: 4% !important;
    }
    .msedge-answers h2 {
      font-weight: 500;
      color: #006ebd;
      margin-top: 8px;
      margin-bottom: 0px;
    }
    .msedge-answers h5 {
      color: #6c757d;
      font-size: 15px;
      margin: 0px;
    }
    .msedge-answers h6 {
      color: #6c757d;
      font-size: 100%;
    }
  }
}
input[type="radio"] {
  visibility: hidden;
}
.font-weight-500 {
  font-weight: 500;
}
.msedge-down-arrow {
  font-size: 42px;
  margin-top: -33px;
  margin-bottom: -17px;
}
.msedge-tooltip-info {
  font-size: 18px;
  color: #9a9696;
}
.msedge-question-icon {
  position: relative;
  bottom: 3px;
  font-size: 10px;
  margin-left: -13px;
  margin-top: 6px;
}
.text-light-grey {
  color: #a59d9d;
}
.msedge-subhead {
  font-size: 17px;
  font-weight: 600;
}
.msedge-itembank-history {
  [class^="pe-7s-"],
  [class*=" pe-7s-"] {
    font-size: xx-large;
  }
  .msedge-history-border {
    padding: 15px 0px 15px 25px;
  }
  .msedge-itembank-head {
    margin: 10px 0px 10px 10px;
  }
  .msedge-itembank-head-icon {
    margin-top: -4px;
  }
}
.msedge-admin-add-btn {
  background: rgb(231, 224, 224);
}
.trash-icon {
  font-size: 21px;
}
.msedge-admin-add-btn {
  text-decoration: none;
  color: black;
}
.msedge-admin-add-btn:hover {
  text-decoration: none !important;
}
.tag {
  background-color: #e4e5ec;
  width: 50%;
  color: #928b8b;
  font-size: 12px;
  font-weight: 300;
  padding: 5px;
}
.close-icon {
  font-size: 17px;
  float: right;
  padding-right: 2px;
}
.admin-itembank-list {
  .msedge-student-list-active {
    background-color: #006ebd;
    color: white;
  }
  .border {
    max-width: unset;
    flex: 1;
  }
  .msedge-student-list-active h1 {
    font-weight: 500;
    font-size: 42px;
    margin-bottom: 6%;
    color: #ffffff;
  }
  .msedge-student-list-active h6 {
    font-weight: 500;
    color: #ffffff;
  }
  .msedge-student-list-active {
    .col {
      padding: 4% !important;
    }
    .msedge-answers h2 {
      font-weight: 500;
      color: #006ebd;
      margin-top: 8px;
      margin-bottom: 0px;
    }
    .msedge-answers h5 {
      color: #6c757d;
      font-size: 15px;
      margin: 0px;
    }
    .msedge-answers h6 {
      color: #6c757d;
      font-size: 100%;
    }
  }
  .search {
    position: relative;
    bottom: 31px;
    left: -3px;
    float: right;
    font-weight: 600;
    background-color: #ffffff;
  }
  .ReactTable .rt-thead.-filters {
    display: none;
  }
}
.select {
  visibility: hidden !important;
}
.selectParent {
  overflow: hidden;
}
.selectParent select {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
}
.item-bank-value-list-not-selected {
  margin: 0px 0;
  border: 1px solid #ccc;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.85) !important;
  font-weight: 500 !important;
  cursor: pointer;
  label {
    cursor: pointer;
  }
}
.item-bank-value-list-selected {
  // color: white;
  background-color: #3ac47d;
  font-weight: bold;
  margin: 0 0;
  cursor: pointer;
  label {
    cursor: pointer;
  }
}
.option-label {
  text-align: center;
  font-size: 22px;
}
.scroller {
  height: 440px;
  overflow-x: hidden;
}
.error-item-category,
.item-error-select-status,
.css-kj6f9i-menu {
  font-size: 1rem;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.85) !important;
}
.error-title-name {
  color: #006ebd;
  font-size: 1rem;
  font-weight: 500;
  p {
    font-size: 0.875rem;
  }
}
.error-description {
  font-size: 1rem;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.85) !important;
}
.item_error_popup-width {
  max-width: 800px !important;
}
.item-tag-add {
  .css-dvua67-singleValue {
    color: rgba(0, 0, 0, 0.65) !important;
  }
}
.admin-item-tag {
  min-height: 400px;
}
.add-item-dese {
  font-size: 1rem !important;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.85) !important;
}
.item-bank-add-ada {
  font-size: 1rem !important;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.85) !important;
}
.css-1hwfws3 {
  font-size: 0.875rem;
}

.view-content {
  .view-option {
    border-bottom: 1px solid #dee2e6;
    .view-text-option {
      font-size: 1rem;
      color: rgba(0, 0, 0, 0.85) !important;
      padding-top: 11px;
    }
  }
  .view-question-content {
    .view-question {
      p {
        float: none !important;
        font-size: 1rem;
        color: rgba(0, 0, 0, 0.85) !important;
      }  
     
    }
  }
  .view-answer-explanation-content {
    padding-top: 16px;
    p {
      font-size: 1rem;
    }
  }
  .view-bg-grey {
    background: #eee !important;
    padding: 16px 30px 14px 0px;
    p {
      font-size: 1rem;
      color: rgba(0, 0, 0, 0.85) !important;
    }
  }
  .view-letter-content {
    .correct_answer {
      background-color: #3ac47d;
      p {
        color: white !important;
      }
    }
    .view-letter-option {
      font-size: 22px;
      // bottom: 0;
      // position: relative;
      // top: 13%;
      // left: 36%;
      margin: 0 auto;
    }
  }
  .vew-text-content {
    background-color: #f6f6f6;
  }
}

.msedge-basicinfo {
  .msedge-basicinfo-content {
    padding: 7px 0 7px 0;
    .msedeg-mcoption {
      font-size: 16px;
      color: #006ebd;
    }
  }
  .DraftEditor-editorContainer {
    background-color: rgba(255, 255, 255, 0);
    border-left: 0.1px solid transparent;
    position: relative;
    z-index: 1;
    // border: 1px solid #dee2e6 !important;
    height: 120px !important;
  }
  .rdw-editor-main {
    border: 1px solid #dee2e6;
  }
  .msedeg-mcoption {
    label {
      color: #006ebd;
    }
    padding-top: 11px;
    font-size: 1rem;
  }
  .info-icons {
    margin-top: 3px;
    .tooltip-info {
      color: #006ebd;
    }
    .question-icon {
      position: relative;
      right: 12px;
      color: white;
      font-size: 11px;
      bottom: 2px;
    }
  }
}

.msedge-preferences {
  .info-icons {
    margin-top: 3px;
    .tooltip-info {
      color: #006ebd;
    }
    .question-icon {
      position: relative;
      right: 12px;
      color: white;
      font-size: 11px;
      bottom: 2px;
    }
  }
  .answer-list {
    background-color: #dee2e6;
    padding: 8px 0px 4px 11px;
  }
  .DraftEditor-editorContainer {
    background-color: rgba(255, 255, 255, 0);
    border-left: 0.1px solid transparent;
    position: relative;
    z-index: 1;
    // border: 1px solid #dee2e6 !important;
    height: 120px !important;
  }
  .rdw-editor-main {
    border: 1px solid #dee2e6;
  }
}
.msedge-itembank a {
  color: #006ebd;

  &:hover {
    color: #006ebd;
  }
}
.msedge-font-for-revision {
  font-size: 1.25rem;
}
.item-bank-table {
  min-height: 600px;
}
.admin-item-tag {
  min-height: 600px;
}

.item-error-select-status {
  display: block;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  height: calc(1.5em + 0.5rem + 2px);
  padding: 0.25rem 0.5rem;
  line-height: 1.5;
  border-radius: 0.2rem;
  border-radius: 0.25rem;
}
// .msedge-preference-collapse {
//   .info-icons {
//     margin-top: 3px;
//     .tooltip-info {
//       color: #006ebd;
//     }
//     .question-icon {
//       position: relative;
//       right: 12px;
//       color: white;
//       font-size: 11px;
//       bottom: 2px;
//     }
//   }
// }
.msedge-bank-listbtns {
  padding-left: 0%;
}
.item-answer-explanation {
  padding-bottom: 22px !important;
}
.item-bank-answer-list {
  background-color: #f6f6f6;
}

.option-text{
    padding: 4px 10px;
    // font-size: 1rem;
    color: rgba(0, 0, 0, 0.85) !important;
    margin: 0;
}
.admin-revision-model-header{
  font-size: 1rem;
  font-weight: 500;
  background: #f8f9fa;

  .content-weight-set{
    font-weight: 700 !important;

  }

  .btn-close{
    font-size: 2rem;
    border: 1px solid;
    color: #006ebd;
    cursor: pointer;
  }
}
.revision-show-details{
  color: #006ebd;
  cursor: pointer;
}

 .modelpop-question{
        font-weight: 500;
    font-size: 1rem;
    
    }

.itembank-revision-history-showdetail-model{
  max-width: 80%;
} 
.item-bank-revision-model-popup-option{
  margin-top:1rem ;
  margin-bottom: 1rem;
}   

.itembank_tooltipmsg{
  padding: 10px;
  span{
    padding: 2px;
  }
}
.apexcharts-tooltip *{
  font-family: inherit;
  width: 360px
}
.topic-header-section{
  padding: 10px;
  background-color: #006ebd;
  color: white;
}
.tooltip-body{
  padding: 3px 11px 3px 11px;
}


.itembank_tooltipmsg{
  box-sizing: border-box;
  width: auto;

 
  span{
    padding: 2px;
  }
}
.apexcharts-tooltip *{
  font-family: inherit;
  width: 360px
}
.topic-header-section{

  text-align: center;
  padding: 10px;
  background-color: #006ebd;
  color: white;
}
.tooltip-body{
  padding: 3px 11px 3px 11px;
  height: auto;
}
.topicelement{

  font-family: Sans-serif;
  font-size: 1rem;
  font-weight: 400;
  display: flex;
  position: relative;
  text-align: left;


}
.valueelement{
  text-align: right;
  
  padding-left: 10px;
}