.msedge-admin-dashboard {
  background: #eee;

  h1.msedge-overview-text {
    color: #006ebd;
    letter-spacing: 1px;
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0;
    text-transform: uppercase;
    outline: "none";
  }
  .msedge-item-details h2 {
    color: #006ebd;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 24px;
  }
}
