
.list-law-school .search {
    position: relative;
    bottom: 31px;
    left: -3px;
    float: right;
    font-weight: 600;
    background-color: #ffffff;
 }

 .add-law-school .eye {
    position: relative;
    bottom: 36px;
    left: 8px;
    float: right;
    font-size: 19px;
    font-weight: 600;
    
 }
.download{
   margin-bottom: -17px !important;
   font-size: 35px !important ;
   color:#a4afb9;
}