// Theme White

// Variables

$app-container-bg: #eeeeee;
$msedge-sidebar-bg: #ffffff;
$app-header-bg: #ffffff;

// $app-header-bg: #fafbfc;
$app-header-logo-bg: rgba(255, 255, 255, 0.9);

// Content

.msedge-bg-white {
  &.msedge-container {
    background: $app-container-bg;
  }

  .msedge-sidebar {
    background: #f6f6f6;
  }

  .msedge-title {
    background: rgba(255, 255, 255, 0.55);
  }

  .msedge-footer .msedge-footer-inner,
  .app-header {
    background: $app-header-bg;
  }
}
