.msedge-subject-accordion {
  padding: 8px !important;
}
.under {
  text-decoration-line: none !important;
}
.under:hover {
  text-decoration-line: none !important;
}

.card-border {
  border-radius: 8px;
}
.text-grey {
  color: #666;
}

.card-head {
  font-weight: 600;
}
.msedge-timing {
  .msedge-timing-content {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 10px;
    padding: 0px 17px 0px 17px;
  }
  .msedge-content-header {
    font-size: 1.25rem;
    color: #006ebd;
    font-weight: 600;
  }

  .msedge-timing-header h3 {
    color: #000;
    font-weight: 400;
    font-size: 1rem;
    word-break: break-word;
  }
  .msedge-min-time {
    display: grid;
    font-size: 14px;
    color: #666;
    position: relative;
    top: -12px;
    left: -1px;
  }
  .msedge-performancetime-chart {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 10px;
    padding: 30px 30px 0;
  }
  .msedge-subject-accordion {
    padding: 8px !important;
    border-radius: 10px;
  }
  .under {
    text-decoration-line: none !important;
    text-decoration: none;
  }
  .under:hover {
    text-decoration-line: none !important;
  }
  .card-border {
    border-radius: 5px;
  }
  .text-grey {
    color: #666;
  }
  .card-head {
    font-weight: 600;
    font-size: 16px;
    color: #000;
  }

  .msedge-down-arrow-size {
    font-size: 34px;
  }
  .padding-left-20 {
    padding-left: 20px;
  }
  .font-weight-700 {
    font-weight: 700;
  }
  .css-bgvzuu-indicatorSeparator {
    width: 0px !important;
  }
  .css-dvua67-singleValue {
    color: #006ebd !important;
  }
  .css-xo7z33-option {
    background-color: #ffffff !important;
    color: hsl(0, 3%, 13%) !important;
  }
  .msedge-bottom-value {
    position: absolute;
    bottom: 25px;
    left: 50%;
  }
  .msedge-perser-symbol {
    position: absolute;
    top: 50%;
    left: 0px;
    font-size: 14px;
    transform: rotate(-90deg);
  }
  .recharts-legend-wrapper {
    bottom: 5px !important;
  }
  .performance-over-time {
    font-size: 1.3rem;
  }
}
.recharts-cartesian-axis-ticks {
  font-size: 0.875rem;
}
.exam-name-input {
  background-color: #efefef;
  padding: 30px 0 0 20px;
  height: 250px;
  flex: 0 0 31.63333% !important;
  .exam-name,
  .msedge-exam-duration {
    width: 60%;
    border-radius: unset;
  }
  .form-group {
    label {
      color: #000;
      font-weight: 500;
    }
  }
  .msedge-exam-duration {
    width: 30%;
  }
}
.heading-section {
  display: flex;
  padding-top: 25px;
  h6 {
    flex: 10;
  }
  .all-subject {
    display: flex;
    float: right;
    flex: 2;
    label {
      font-weight: 500;
      color: #000;
      margin-left: 10px;
    }
    input {
      width: 40px;
      height: 25px;
    }
  }
}
.msedge-practice-questions {
  .card {
    box-shadow: unset;
  }
  .card-header {
    border-top: 1px solid rgba(5, 34, 56, 0.125);
  }
  .msedge-ques-subject-topics {
    .custom-control{
      font-size: 0.813rem !important;
    }
    width: 95%;
    margin: 0 auto !important;

    .Collapsible {
      box-shadow: 0 0 5px rgba(204, 204, 204, 0.671);
      padding: 10px;
      border-radius: 10px;
    }
    .msedge-select-subjects {
      margin-top: 4%;
    }
  }
}

.padding-left-20 {
  padding-left: 20px;
}
.msedge-practice-questions {
  .pre-create {
    min-height: 490px;
    .msedge-created-status {
      word-break: break-all;
    }

    .custom-radio-detai {
      .custom-control-label {
        position: relative;
        margin-bottom: 0;
        vertical-align: top;
        top: -15px !important;
        right: -15px;
      }
      .custom-control-label::after {
        left: -24px !important;
        top: 3px !important;
        content: "";
        color: #ffffff !important;
      }
    }

    .show-timer-checkbox {
      .custom-control-label::after {
        left: -20px !important;
        top: 3px !important;
        content: "";
        color: #ffffff !important;
      }
      input[type="checkbox"] + label:before {
        border: 1px solid #006ebd;
        border-radius: 0.2em;
        display: inline-block;
        width: 1.5em;
        height: 1.5em;
        padding-left: 0.2em;
        padding-bottom: 0.3em;
        margin-right: 0.2em;
        vertical-align: bottom;
        color: transparent;
        transition: 0.2s;
        margin-right: 10px;
        margin-top: -3px;
      }
    }
    .row {
      .msedge-open-update-list {
        flex-direction: unset !important;
        box-shadow: 0 0 5px #ccc;
        border-radius: 10px;
        margin-top: 15px;
        padding: 0;
        div {
          padding: 15px 0;
          height: 50px;
          display: flex;
          .custom-checkbox.custom-control {
            padding: 0;
          }
        }
        .color-box {
          background-color: #ccc;
          border-radius: 10px 0 0 10px;
          color: #fff;
        }
        .mid-text {
          padding-left: 15px;
        }
      }
      .msedge-open-update-list:nth-child(1) {
        margin-top: 20px;
      }
    }
    .right-content {
      right: 0;
      padding: 0 30px;
      margin-bottom: 20px;
      margin-top: 20px;
      div {
        background-color: #efefef;
        padding: 15px;
      }
      h6 {
        color: #006ebd;
      }
      ul {
        li::before {
          color: #006ebd;
        }
      }
    }
  }
  .card-header > .nav .nav-link {
    font-weight: 700;
  }
  .incomplete {
    margin-top: 30px;
    .incomplete-data-table {
      .ReactTable .rt-noData {
        top: 45%;
      }
    }
    .table-header {
      .sortIcon {
        margin-left: 5px;
        color: #aaa;
      }
      .delete-btn {
        background: transparent;
        color: #333;
        border: none;
        padding: 0 10px;
        i {
          font-size: 21px;
        }
      }
    }
    .ReactTable .rt-tbody .rt-td:nth-child(1) {
      div {
        text-align: left !important;
      }
    }
    .ReactTable .rt-tr.-odd {
      background-color: #efefef;
    }
  }
}
@media only screen and (max-width: 768px) {
  .card-1-tablet-view {
    padding: 0% !important;
    margin: 0 !important;
  }
  .margin-bottom-tablet-card {
    margin-bottom: 3rem !important;
  }
  .heading-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    h6 {
      margin-bottom: 30px;
    }
  }
  .msedge-practice-questions {
    .pre-create {
      min-height: unset;
      .row {
        .msedge-open-update-list {
          div {
            // height: unset;
            .custom-checkbox.custom-control {
              text-align: right;
              padding-right: 15px;
            }
          }
        }
      }
      .right-content {
        position: relative;
        padding: 0;
        top: 30px;
        div {
          background-color: #efefef;
          padding: 15px;
        }
      }
    }
  }
}
.text-small-on-tablet {
  font-weight: 400;
}

@media only screen and (max-width: 1023px) {
  .text-small-on-tablet {
    font-weight: 500;
    margin-left: 7px;
    margin-top: 9px;
  }

  .circle-tablet-view {
    padding: 0% !important;
    margin: 0 !important;
  }
  .margin-tablet {
    margin-top: 15px !important;
  }
  .margin-bottom-tablet {
    margin-bottom: 15px !important;
  }
}
.border-bottom-card {
  border-bottom: 1px solid #dee2e6 !important;
  width: 107%;
}

.css-bgvzuu-indicatorSeparator {
  width: 0px !important;
}
.css-dvua67-singleValue {
  color: rgba(0, 0, 0, 0.85) !important;
}
.css-xo7z33-option {
  background-color: #ffffff !important;
  color: hsl(0, 3%, 13%) !important;
}
.radialbar {
  border: none !important;
}

.neg-margin-top-60 {
  margin-top: -60px !important;
}

.padding-right-1 {
  padding-right: 0.25rem !important;
}

.chart-margin-right {
  margin-right: 12px;
}

.apexcharts-datalabel-value {
  fill: #3ac47d !important;
  font-size: 20px !important;
  font-weight: 500 !important;
}
.apexcharts-datalabel-label {
  fill: #000 !important;
  font-size: 11px !important;
}

.btn-font {
  font-size: 16px;
  font-weight: 300;
  color: #666;
}
.margin-top-11 {
  margin-top: 11px !important;
}

.msedge-student-exam-reports {
  .disabled-link {
    pointer-events: none;
    cursor: not-allowed;
  }
  .msedge-title {
    margin: 0px;
  }
  .exam-report-fontweight {
    font-weight: 500;
  }
  body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC",
      "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial,
      sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }
  .msedge-exam-report-table {
    height: 100px;
  }
  .msedge-exam-code {
    font-size: 16px;

    a {
      color: #000;
    }
  }
  .exam-date {
    color: #666;
  }
  .text-grey {
    color: #666;
  }
  .msedge-admin-table-data {
    color: #666;
    font-weight: 14px;
  }
  .search {
    position: relative;
    bottom: 1.9375rem;
    left: -0.21rem;
    float: right;
    font-weight: 600;
    background-color: #ffffff;
  }
  @media only screen and (max-width: 480px) {
    .table thead th,
    .table td {
      vertical-align: middle;
      padding: 25px;
    }
    .students-exams-alignment {
      width: 75px;
    }
    .exam-date {
      color: #666;
    }

    .msedge-exam-title {
      width: 120px;
    }
    .studentsexam-report-score {
      width: 175px;
    }
    .studentsexams-report-icon {
      width: 60px;
      margin-top: 12px;
    }
    .student-icon-report {
      width: 115px;
    }
  }
}

.msedge-practice-questions .pre-create .right-content div {
  padding: 9px 10px 6px 10px;
}

ol.progtrckr {
  margin: 0;
  padding-bottom: 2.2rem;
  list-style-type: none;
}
ol.progtrckr li {
  display: inline-block;
  text-align: center;
  line-height: 67px;
  padding: 0 0.7rem;
  cursor: pointer;
}
ol.progtrckr li span {
  padding: 0 1.5rem;
}
@media (max-width: 650px) {
  .progtrckr li span {
    display: none;
  }
}
.progtrckr em {
  display: none;
  font-weight: 700;
  padding-left: 1rem;
}
@media (max-width: 650px) {
  .progtrckr em {
    display: inline;
  }
}

ol.progtrckr li.progtrckr-todo {
  color: silver;
  border-bottom: 4px solid silver;
}
ol.progtrckr li.progtrckr-doing {
  color: black;
  border-bottom: 4px solid #006ebd;
}
ol.progtrckr li.progtrckr-done {
  color: black;
  border-bottom: 4px solid #006ebd;
}
ol.progtrckr li:after {
  content: "\00a0\00a0";
}
ol.progtrckr li:before {
  position: relative;
  bottom: -3.7rem;
  float: left;
  left: 50%;
}
ol.progtrckr li.progtrckr-todo:before {
  content: "\039F";
  color: silver;
  background-color: white;
  width: 1.2em;
  line-height: 1.4em;
}
ol.progtrckr li.progtrckr-todo:hover:before {
  color: #006ebd;
}

ol.progtrckr li.progtrckr-doing:before {
  content: "\2022";
  color: white;
  background-color: #006ebd;
  width: 1.2em;
  line-height: 1.2em;
  border-radius: 1.2em;
}
ol.progtrckr li.progtrckr-doing:hover:before {
  color: #006ebd;
}

ol.progtrckr li.progtrckr-done:before {
  content: "\2713";
  color: white;
  background-color: #006ebd;
  width: 1.2em;
  line-height: 1.2em;
  border-radius: 1.2em;
}
ol.progtrckr li.progtrckr-done:hover:before {
  color: #006ebd;
}
ol.progtrckr {
  padding: 0px !important;
  margin-bottom: 40px;
}
ol.progtrckr li {
  display: inline-block;
  text-align: center;
  line-height: 67px;
  cursor: pointer;
  width: 25% !important;
}

.multi-step {
  .footer-buttons {
    margin-top: 30px;
  }
}

.msedge-timetakenforexam {
  .msedge-timing-performance-totalattended {
    font-size: 22px;
    color: #3ac47d;
  }
  .msedge-timing-performance-totalandaverage {
    font-size: 16px;
  }
  .msedge-timing-performance-timing-difference {
    font-size: 16px;
  }
  .msedge-timing-performance-timing-difference:hover {
    border-bottom: none !important;
  }
  // .answer-outof {
  //   padding: 0 1.5rem;
  // }
  .timing-answer-outof {
    padding: 0 1rem;
  }
  .msedge-timing-performance-accordian-background {
    background-color: #f5f5f5ed;
    color: black !important;
    .card-body {
      padding: 1rem !important;
    }
    .msedge-subjects-list {
      .subject-score {
        padding-left: 11px;
      }
    }
    .timing-score {
      padding: 0 0.4rem 0 1.3rem !important;
    }
    .msedge-subject-topics {
      background-color: white;
      .card-body {
        padding: 1rem !important;
      }
      .timingsubjectDetails {
        background-color: #f5f5f5ed;
        padding: 10px 0 10px 13px;
      }
    }
  }
  .msedge-timing-performance-card {
    box-shadow: 0 0.25rem 0.53125rem rgba(0, 0, 0, 0.05),
      0 0.125rem 0.1875rem rgba(0, 0, 0, 0.03);
    border-width: 0;
    transition: all 0.2s;
  }
}

.msedge-timing-performance-timetakenforexam-main {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.msedge-loader-center {
  margin: auto;
  position: relative;
  text-align: center;
  padding: 15% 0;
  top: 50%;
  width: 20%;
}

// Oct 25 styles
.msedge-examcustom-timer {
  label {
    padding-top: 3px;
    padding-left: 3px;
  }
}
.msedge-practice-exam-custom {
  .Collapsible {
    padding: 20px !important;
  }
}

.msedge-exam-toggle-sec {
  padding: 5px 15px 15px 15px;
}

.exam-practice-container label.custom-control-label {
  padding-top: 3px;
}

.msedge-qa-bg-container {
  margin: 10px 0;
  border: 1px solid #ccc !important;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
}

.instruction-continue {
  padding: 15px 0px;
}

.msedge-exam-instruction {
  color: #006ebd;
  font-size: 1.6rem !important;
  font-weight: 400;
}
@media only screen and (max-width: 480px) {
  .medge-ongoingcad-padding .correct-answers-section {
    .col-md-7{
      width:50%;
    }
    .col-md-5{
      width:50%;
    }
    
  } 

  .medge-ongoingcad-padding  .exam-report-date
    {
    .col-md-7{
      width:50%;
    }
    .col-md-5{
      width:50%;
    }
  }
  .msedge-ongoingcontain .exam-reports-search{
    left: unset !important;
  }
  .msedge-cardsec{
    margin-right: unset !important;
    margin-left: unset !important;
  }
  .medge-ongoingcad-padding{
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
  .msedge-student-exam-reports .msedge-student-report{
    top: unset;
  }
  .exam-practice-container {
    padding: 0px;
  }
  .ptb-30 {
    padding-top: 15px;
    padding-bottom: 0px;
  }
  .msedge-practice-questions .msedge-ques-subject-topics .subject-accord h3 {
    font-size: 1rem;
  }

  .exam-practice-container .msedge-practiseexam-select {
    padding-right: 1.5rem;
    top: 8px;
    padding-left: 1.5rem;
  }

  .msedge-practice-questions .msedge-practise-custom {
    padding-right: 1.5rem;
    top: 10px;
    padding-left: 1.5rem;
    padding-bottom: 0.5rem;
  }
  // .exam-practice-container label.custom-control-label {
  //   padding-top: 4px;
  // }

  .msedge-mcq-section .msedge-question-section p {
    font-size: 0.875rem !important;
  }

  .msedge-question-and-answers .p-30 {
    padding: 10px;
  }

  .msedge-performance-settings {
    h1,
    h4,
    td {
      font-size: 1rem;
    }
  }

  .msedge-student-exam-reports .p-30 {
    padding: 10px;
  }

  .msedge-student-report {
    top: 5px;
  }

  .msedge-exam-final-report {
    .pl-0 {
      padding-left: 15px !important;
      margin-bottom: 25px !important;
    }
  }
}

.msedge-beforeFive {
  color: rgb(150, 7, 7);
  animation: blinkingText 2.1s infinite;
}

@keyframes blinkingText {
  0% {
    color: rgb(207, 31, 31);
  }
  49% {
    color: transparent;
  }
  50% {
    color: rgba(207, 71, 71, 0.849);
  }
  99% {
    color: transparent;
  }
  100% {
    color: rgb(139, 8, 8);
  }
}
.msedge-exam-final-report {
  .msedge-form-control-onsearch {
    height: calc(1.8em + 0.75rem + 3px);
  }
}

.report-table {
  overflow-x: auto;
  overflow-y: hidden;
  width: auto;
  white-space: pre-wrap;
}

.question-round-border {
  border: 1px solid red !important;
}
.msedge-exam-final-report {
  .pl-0 {
    padding-left: 15px !important;
    margin-bottom: 25px !important;
  }
}
.question-progress-students-main {
  .no-data-row {
    font-size: 15px;
    padding: 18% 0% 0% 41%;
  }
}
.msedge-set-pref-justify {
  justify-content: center;
}
.msedge-practiseexam-border {
  border-bottom: 1px solid #eee;
}

.msedge-qus-flag {
  bottom: 7px;
}

.msedge-qus-sub {
  bottom: 3px;
}

// .msedge-mcq-section .msedge-performance-settings .timer-tab .timer:hover{
//   background: #006ebd;
//   color: #fff;
//   cursor: pointer;
// }

// .msedge-mcq-section .msedge-performance-settings .timer-tab .timer:hover h1{
//   background: #006ebd;
//   color: #fff;
//   cursor: pointer;
// }

// .msedge-mcq-section .msedge-performance-settings .timer-tab .timer:hover h4{
//   background: #006ebd;
//   color: #fff;
//   cursor: pointer;
// }

// .msedge-mcq-section .msedge-performance-settings .settings-tab .font-size:hover {
//   background: #006ebd;
//   color: #fff;
//   cursor: pointer;
// }

// .msedge-mcq-section .msedge-performance-settings .settings-tab .font-size:hover col-md-12{
//   background: #006ebd;
//   color: #fff;
//   cursor: pointer;
// }
.msedge-expand-toggle {
  border-right: 1px solid #fff;
}

.msedge-expand-toggle {
  background: #fff;
}

.msedge-main-card .ReactTable .rt-tbody .rt-td {
  font-size: 1rem !important;
  font-weight: 500;
}

.ant-table-content {
  font-size: 1rem !important;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.85) !important;
}

.msedge-practiseexam-weight {
  font-weight: 700;
}

.msedge-exam-qus-timer {
  padding: 0px !important;
}

.msedge-student-exam-reports .table {
  color: rgba(0, 0, 0, 0.85) !important;
}
.msedge-student-info-icon {
  padding-left: 2%;
  color: #0e6aae;
}
.msedge-ques-subject-topics {
  .tooltip-inner {
    max-width: 334px !important;
  }
}
.msedge-tooltipicon .msedge-student-info-icon{
  font-size: 1.05rem;
}
.msedge-ongoingcontain{
  padding: 10px;
  padding-top: 2px;
}
// .msedge-ongoing-translate:hover{
// box-shadow: 0px 0px 25px 10px #ccc;
// }
.msedge-ongoing-translate .msedge-examreport-examname{
  font-weight: 500;
  color: rgba(0, 0, 0, 0.85);
  font-size: 1rem;
}
.exam-data-data{
  padding: 0px 6px 0px 6px;
  align-self: flex-end;
}
.msedge-cardsec{
  margin-right: -15px;
  margin-left: -15px;
}
.msedge-ongoingcontain .exam-reports-search{
  left: 2%;
  top: 18%;
  position: relative;
}
.medge-ongoingcad-padding{
  // padding-bottom: 0.5rem !important;
  // padding-left: 0.5rem;
  // padding-right: 0rem;
  // padding-top: 0.5rem;
  padding: 0.25rem 0.25rem 0.25rem 0.25rem;
}
.ques-btn{
  background: white;
  color: black !important;
  border: 1px solid #000000;
  border-radius: 4px;
  padding: 0px;
}
.ques-btn li{
list-style: none;
float: left;
}
.ques-btn li:first-child {
  border-right: 1px solid #000;
  padding: 6px 12px 4px 15px !important;
  margin: 0;
}
.ques-btn li:last-child{
  padding: 6px 30px 5px 30px !important;
}
.ques-submit-btn{
  background: white;
  color: black !important;
  border: 1px solid #000000;
  border-radius: 4px;
  padding: 0px;
}
.ques-submit-btn li{
  list-style: none;
float: left;
}
.ques-submit-btn li:first-child {
  border-right: 1px solid #000;
  padding: 6px 12px 4px 15px !important;
  margin: 0;
}
.ques-submit-btn li:last-child{
  padding: 6px 30px 5px 30px !important;
}
.msedge-error-model button:hover {
    background: #006EBD;
    color: white !important;
    border: 1px solid #006EBD;
}
.msedge-error-model button:hover li:first-child{
  
    border-right: 1px solid #fff!important; 
}
.msedge-ongoing-translate{
  border: 1px solid  #eee;
  // background-color: #417eb3;
}
.msedge-score-img{
  direction: rtl;
}
.medge-ongoingcad-padding .link-color{
  cursor: pointer;
  font-size: 20px;
  color: #000 !important;
  // font-weight: 600;
}
.content-date{
  color: rgba(0, 0, 0, 0.85);
  font-size: 2rem;
  letter-spacing: 2px;
}
.content-month, .content-year{
  color: rgba(0, 0, 0, 0.85);
  font-size: 1rem;
  letter-spacing: 1px;
}
.correct-answers-section{
  border-top: 1px solid #eee;
    padding: 5px 0;
    background-color: #eee;
}
.exams-details-with-date #Download{
  // font-weight: 600;
  color: #000;
}
.content-sections{
  padding-top: 15px;
}
.msedge-cart-height{
height: 13vh;
}

.checkbox-designclass input[type=checkbox] + label:before {
  border: 5px solid #006EBD !important;
  border-radius: 0.2em;
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  padding-left: 0.2em;
  padding-bottom: 0.3em;
  margin-right: 0.2em;
  vertical-align: bottom;
  color: transparent;
  transition: .2s;
  margin-right: 10px;
}
.msedge-stud-exam-ongoing{
  background-color: #ffffff;
}
.msedge-stud-ongoing-exam{
  padding:0 0.25rem;
}
.msedge-stud-ongoing-exam-size{
  padding: 0 0.25rem;
}
.content-year-bottom{
  color: rgba(0, 0, 0, 0.85);
  font-size: 1rem;
}

.msedge-collabsible-box{
  box-shadow: 0 0 5px hsla(0,0%,80%,.671);
  padding: 20px;
  border-radius: unset!important;  
}

.msedge-exams-shortcuts-disabled{
  pointer-events: none;
   opacity: 0.5;
   cursor: not-allowed
}