.msedge-mcq-section {
  padding-top: 50px;
  .msedge-exam-header {
    i {
      font-size: 1.5625rem;
      font-weight: 500;
    }
  }
  .msedge-exam-final-report {
    h6 {
      font-weight: 500;
    }
    .msedge-final-report-grid {
      margin: 2% 0;
      border: 1px solid #cccccc;
      text-align: center;
      .row .grid-child {
        padding: 2%;
        border-left: 1px solid #cccccc;
        h6 {
          width: 100%;

          color: $primary;
          font-size: 1.25rem;
        }

        p {
          width: 100%;
          margin: 0px;
          font-size: 0.875rem;
          color: #666666;
        }
      }
      .row .grid-child:first-child {
        border-left: none;
        background: #3bc47e;
        color: #ffffff;
        h2 {
          color: #ffffff !important;
        }

        p {
          margin: 0px;
          font-size: 0.875rem;
          color: #ffffff;
        }
      }
      .row .grid-child:nth-child(2) {
        border-left: none;
      }
    }
  }
}
.ant-table-wrapper {
  border: 1px solid #cccc;
}
.ant-table-thead {
  tr {
    th:nth-child(4) {
      width: 60% !important;
    }
  }
  .ant-table-column-title {
    color: $primary !important;
  }
}
.ant-table-tbody {
  .ant-table-expanded-row {
    td {
      padding: 0px !important;
      width: 100%;
      .card {
        margin: 0px;
        box-shadow: none;
        .card-header > .nav {
          display: -webkit-box;
          height: 100%;
          width: 25%;
        }
        .card-body {
          .choice-explanation {
            padding: 10px;
            p {
              span {
                font-weight: bold;
              }
            }
          }
          .choices {
            .row {
              position: relative;
              display: flex;
              height: 100%;
              align-items: center;
              border-top: 1px solid #cccc;
              padding: 10px 0;
            }
            .letter-option {
              position: relative;
              display: flex;
              align-items: center;
              justify-content: center;
              h4 {
                margin: 0px !important;
              }
            }
            .options {
              position: relative;
              display: flex;
              height: 100%;
              align-items: center;
              p {
                margin: 0px !important;
              }
            }
          }
        }
      }
    }
    td:first-child {
      display: none !important;
    }
  }
  .fa-check {
    width: 20px;
    height: 20px;
    background: #3bc47e;
    // padding: 10%;
    color: #ffffff;
    border-radius: 50px;
  }
  .fa-times {
    width: 20px;
    height: 20px;
    background: red;
    // padding: 10%;
    color: #ffffff;
    border-radius: 50px;
  }
}

.ant-table-pagination.ant-pagination {
  float: none !important;
  text-align: center;
}
.msedge-stud-practiceexam-heading {
  font-size: 1.25rem !important;
  color: #006ebd !important;
}
.msedge-stud-practice-exam-subject {
  font-size: 1.125rem !important;
  font-weight: 600 !important;
  margin-top: 3px !important;
  margin-left: 10px !important;
}
.msedge-stud-set-preference {
  margin-bottom: 20px !important;
  font-size: 1rem !important;
}
.msedge-stud-instructions {
  font-size: 1rem !important;
  font-weight: 500 !important;
  margin-bottom: 1.25rem !important;
}
.msedge-exam-report-link-color {
  color: #006ebd !important;
}
.msedge-exam-report-download {
  color: rgba(0, 0, 0, 0.85) !important;
}
.ol.progtrckr li span {
  color: black !important;
}
.msedge-stud-precreated-instruction {
  color: #006ebd !important;
  font-size: 1rem !important;
}

.progtrckr .progtrckr-todo span {
  color: black !important;
}

.msedge-student-precreated-exam{
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 margin-bottom: 5px;
 background-color: #fff !important;
}
.msedge-student-precreated-exam-bgcolor{
  background-color: #fff !important;
}
@media (max-width: 480px) {
  .msedge-set-flag{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }
}