// Fixed Header

.msedge-fixed-header {
  .app-header {
    position: fixed;
    width: 100%;
    top: 0;

    .msedge-header-logo {
      visibility: visible;
    }
  }

  .msedge-main {
  }

  &:not(.msedge-fixed-sidebar):not(.closed-sidebar) {
    .msedge-sidebar {
      .msedge-header-logo {
        visibility: hidden;
      }
    }
  }
}
