.msedge-header-content {
  background: #ffffff !important;
  display: flex;
  align-items: center;
  align-content: center;
  flex: 1;
  padding: 15px 0 10px 0;
  height: 70px;
  z-index: 10;
  .msedge-header-left {
    align-items: center;
    h6 {
      color: #000;
      font-weight: 500;
      letter-spacing: 1px;
      text-transform: uppercase;
      font-size: 1rem;
    }
    p {
      color: #000;
      font-size: 0.8125rem;
      letter-spacing: 1px;
    }
  }
  .msedge-header-right {
    align-items: center;
    display: flex;
    margin-left: auto;
    ul {
      margin: 0px !important;
      display: flex;
      align-items: flex-end;
      li {
        list-style: none;
        float: left;
        font-size: 16px;
        font-weight: 500;
        padding-left: 20px;
        a {
          text-decoration: none;
          color: #006ebd;
        }

        i {
          font-size: 1.375rem;
          font-weight: bold;
        }
      }
      li:last-child {
        padding-left: 20px !important;
        // i {
        //   margin-left: 0;
        // }
      }
      .msedge-get-help {
        letter-spacing: 1px;
      }

      .msedge-logout-btn {
        padding-left: 20px;
        padding-right: 15px;
      }
    }
  }
}
.msedge-student-header {
  padding: 35px 0 10px 0;
  height: 5.2rem;
  .msedge-header-right ul {
    margin: 0 0 20px 0 !important;
  }
}

.msedge-header-content .msedge-header-right {
  justify-content: flex-end;
  padding-right: 0px;
}

.msedge-top-section {
  padding-bottom: 0%;
}

.msedge-header-content .msedge-header-left,
// .msedge-header-right {
//   padding-top: 2%;
// }
.msedge-top-head {
  padding-bottom: 0;
}
.__react_component_tooltip.type-dark {
  color: #000;
  border: 1px solid #000;
  background-color: unset;
}
.__react_component_tooltip.type-dark.place-bottom:after {
  border-bottom-color: unset;
  border-bottom-style: unset;
  border-bottom-width: unset;
}

.msedge-admin-setting {
  padding-left: 10px !important;
}

.resize-fonts {
  color: #000;
  margin-bottom: 0 !important;
  font-size: 1.6rem;
}

.msedge-header-content .msedge-header-right ul li.notification-align {
  bottom: 5px;
  position: relative;
}

.msedge-resize-fonts {
  font-size: 1.1rem;
}

.msedge-header-content .msedge-header-right ul li i {
  color: #000;
}

@media only screen and (max-width: 480px) {
  .msedge-header-content .msedge-header-right ul li:last-child {
    padding-left: unset !important;
  }
  .msedge-student-header {
    padding: 0px 0 0px 0;
  }
}
