.msedge-custom-sidebar {
  .msedge-side-menu {
    .nav {
      display: block !important;
    }
    ul {
      li {
        a {
          text-decoration: none;
          font-size: 1.063rem;
          color: #000;
          font-weight: 300;
          text-transform: uppercase;
          letter-spacing: 2px;
        }
        i {
          width: 20px;
          height: 20px;
          font-size: 1.1875rem;
          font-weight: bold;
          margin-right: 10px !important;
        }
        .msedge-title-txt {
          font-size: 0.875rem !important;
          font-weight: 300;
          line-height: 1.58;
          letter-spacing: 0.8px;
          text-transform: uppercase;
        }
        .msedge-icon-side {
          position: relative;
          display: flex;
          height: 100%;
          align-items: center;
        }
        .dropdown-toggle::after {
          display: none !important;
        }
      }
      :hover {
        color: #006ebd;
      }
      .navbar-collapse {
        li {
          padding: 0% 4% !important;
          a {
            text-decoration: none;
            font-size: 1rem;
            color: #000;
            font-weight: 300;
            text-transform: capitalize;
          }
        }
        :hover {
          color: #006ebd;
        }
        .nav-item {
          padding: 0% !important;

          .nav-link {
            .navbar-collapse {
              border-left: 4px solid #006ebd;
              margin: 5px;
            }
          }
        }
      }
    }
  }
  li:hover {
    color: #006ebd !important;
  }
}
.msedge-sidebar {
  box-shadow: unset;
}
.msedge-header-logo {
  padding-left: 20px;
}

.msedge-header-logo .msedge-logo {
  height: 47px;
  display: flex;
  align-items: center;
}

.msedge-header-logo .msedge-logo .msedge-sidebar-logo {
  width: 100%;
}
.msedge-sidebar .msedge-sidebar-inner {
  padding: 5.5rem 0 1.5rem 0;
}
.nav-link {
  padding: 0.5rem 1.5rem;
}

.msedge-custom-sidebar .msedge-side-menu ul .navbar-collapse li a {
  text-transform: uppercase !important;
  font-size: 0.875rem;
}
.msedge-custom-sidebar .msedge-side-menu ul li .msedge-icon-side svg {
  font-size: 1.0625rem;
}

@media only screen and (max-width: 480px) {
  .msedge-header-content .msedge-header-right ul li:last-child {
    padding-left: unset !important;
  }
  .msedge-header-content .msedge-header-right ul li {
    padding-left: unset !important;
  }
  .msedge-custom-sidebar .msedge-side-menu ul .navbar-collapse .nav-item {
    margin-left: 12px;
  }
  .msedge-icon-side i {
    display: none;
  }
}
.msedge-toggle-title-txt{
  color: #fff;
  font-size: 10px;
  bottom: 7px;
  position: relative;
}
.msedge-togglecollapse-submenu{
    bottom: 2px;
    font-size: 9px;
    position: relative;
    color: #fff;
}